---
import { Image } from "astro:assets";
import AboutImg from "../images/1.png";
import MainLayout from "../layouts/MainLayout.astro";
import InfoCard from "../components/InfoCard.astro";
import { infoData, educationData } from "../data/infoData.js";
import DetailsEd from "../components/DetailsEd.astro";
import Experience from "../components/Experience.astro";
import AboutHeaders from "../components/AboutHeaders.astro";
import BlackBtn from "../components/BlackBtn.astro";
---

<MainLayout title="History">
  <div class="p-4 mt-4 mb-10 bg-violet-50 ">
    <div class=" rounded-lg">
      <!-- top content -->
      <div
        class="flex flex-col gap-6 md:gap-4 md:flex-row rounded-t-lg bg-gradient-to-bl from-fuchsia-600 to-blue-300 md:px-2 w-full"
      >
        <div class="relative z-40 top-0 left-0 p-2  flex justify-center">
          <div
            class="relative h-60 w-60 my-6 group mx-2 bg-white cursor-pointer rounded-full p-4"
          >
            <Image
              class="h-auto w-full z-4 relative drop-shadow-xl"
              src={AboutImg}
              alt="person "
              width={280}
              height={300}
            />

         
          </div>
        </div>

        <div
          class="w-full lg:w-2/3 text-white sm:text-center pl-5 text-start flex flex-col items-center justify-center"
        >
          <p class="font-bold text-heading text-center text-5xl lg:text-7xl">
            Judit Szabo
          </p>
          <p class="text-heading text-3xl mt-2">Full Stack Developer</p>
         
        </div>
      
      </div>

      <!-- main content -->
      <div class="py-6">
          <!-- About me -->
          
          <div
          class="py-3 sm:order-none order-3    rounded-xl "
        >
    

          <div class=" mx-2 p-2 rounded-xl mb-4">
            <div
              class="w-full px-2 flex flex-col justify-center  pb-4 break-inside-avoid"
            >
            <AboutHeaders title="About Me"/>
            <p
            class="text-gray-800 text-base mb-4 text-justify"
          >
            A certified post gratuade fullstack developer with UI/UX
            design interest, my passion is to create websites and fully
            functioning web and mobile applications.
         
             
                <span class="italic font-bold">
                  With just 2 years of learning
                </span>
                - while creating experience I got involved in more than 8 programmming
                languages, and continuesly evolving toward better user experience.
              </p>
              <div class="bg-white text-black"> social media stuff</div>
            </div>
          </div>
        </div>
        <div class="flex flex-col md:flex-row md:mt-2 gap-4">
          <div class="flex flex-col md:w-2/5 lg:w-1/3 gap-6 break-inside-avoid">
          
            <!--Education part -->
           
            <div
              class="py-3 sm:order-none order-3 bg-white  rounded-xl shadow-md break-inside-avoid"
            >
            <AboutHeaders title="Education"/>

              <div
                class="bg-slate-100 mx-2 p-2 rounded-xl mb-4 pb-4 break-inside-avoid"
              >
                {
                  educationData.map(
                    ({
                      qualification,
                      schoolProvider,
                      timeFrame,
                      address,
                      details,
                    }) => {
                      return (
                        <DetailsEd
                          qualification={qualification}
                          schoolProvider={schoolProvider}
                          timeFrame={timeFrame}
                          address={address}
                          details={details}
                        />
                      );
                    }
                  )
                }
              </div>

              <div class="py-2 w-full pb-4 break-inside-avoid">
                <h2
                  class="pl-4 text-lg font-poppins font-bold underline underline-offset-6 decoration-violet-200"
                >
                  Related Courses
                </h2>
                
              </div>
              <div class="bg-slate-100 mx-2 p-2 rounded-xl mb-4 pb-4 text-base">
                <p class="text-justify">
                  I am passionate about lifelong learning, I currently do 3
                  courses on web development from various online platforms. 
                  
                  
                  
                </p>
                <div class="flex gap-2 flex-wrap mt-3"> 
                  <BlackBtn info="Scrimba"/>
                  
                  <BlackBtn info="Udemy"/>
                  <BlackBtn info="Codecademy"/></div>
               
              
              </div>
            </div>
            <!-- Info -->
            <div
              class="py-3 sm:order-none order-3 bg-white  rounded-xl shadow-md break-inside-avoid"
            >
            <AboutHeaders title="Information"/>

              <div class="bg-slate-100 mx-2 p-2 rounded-xl mb-4 pb-4">
                {
                  infoData.map(({ title, name }) => {
                    return <InfoCard title={title} name={name} />;
                  })
                }
              </div>
            </div>
          </div>
<!--right side -->
          <div class="flex flex-col md:w-3/5 lg:w-2/3 order-first md:order-none mt-4 md:mt-0">
            <!--Experience ------------------------------------------------------------------------------------------------------>
            <section class="pb-4    first:mt-0 py-3  sm:order-none order-3  bg-white  rounded-xl shadow-md">
              <!-- To keep in the same column ------------------------------------------------------------------------->
              <article class="break-inside-avoid bg-white p-2">
              <AboutHeaders title="Experience"/>
               
                <div
                  class="mb-2 border-b border-gray-200  break-inside-avoid bg-slate-100 p-2 rounded-xl"
                >
                  <!--experience component -->
                     <!--experience component -->
                     <Experience />
                </div>
              
              


              

                </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
