---
import MainLayout from "../layouts/MainLayout.astro";
// import ContactForm from "../components/ContactForm.astro"
import Hero from "../components/Hero.astro"
// import SkillCard from "../components/SkillCard.astro"
// import AboutHeaders from "../components/AboutHeaders.astro"

import { Image } from "astro:assets";
import logo from "../images/logoB.png"

 import catsham from "../images/catsham.png"

import { getCollection } from 'astro:content';
import type { CollectionEntry } from "astro:content";

// import Tags from "../components/Tags.astro";

const allProjectInfo: CollectionEntry<'project'>[] = (await getCollection('project'))

const firstProject :CollectionEntry<"project">=allProjectInfo[4]

---

<MainLayout>
  <div class="w-full pb-20">
<Hero/>
 


<article class="block my-20  bg-indigo-50 relative w-full md:w-9/12 mx-auto text-center  rounded-xl   shadow-md shadow-slate-300 p-6">
  
  <h2 class="py-4 text-5xl text-black"> Featured Project</h2>
    <div class="absolute top-0 right-0">
      <Image class=" w-[50px] rounded-lg" src={logo} alt="">
  </div> 

  <!-- Starts component -->
    <div class="">
     
     <div class="grid grid-cols-1 md:gap-8 md:grid-cols-2 lg:gap-24 items-center p-6 ">
      <div class=" flex flex-col items-start" > 
       <p class="text-4xl mt-4  font-semibold text-gray-700 text-balance tracking-wide"> {firstProject.data.title} </p>
       <p class="text-base  mt-4 text-gray-700 text-balance"> {firstProject.slug} </p>
<div class="mt-6 text-xs font-medium grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-2 text-gray-950">
      
      <a  href={firstProject.data.url}>
      <div class="flex items-center ">
        <div class="bg-violet-200 p-1  hover:ring-4 hover:ring-violet-200">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"  style=" transform: ;msFilter:;"><path d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A.998.998 0 0 0 5 3v18a1 1 0 0 0 .536.886zM7 4.909 17.243 12 7 19.091V4.909z"></path></svg>
        </div>
        
        <h3
        class="pl-1  text-base font-poppins font-bold text-top-color hover:scale-115 duration-200 "
      >
        Live Demo
      </h3>
    </div>
  </a>
   
  </div>
      </div>
      <div class="h-full md:order-first"> 
        <div class=" relative  p-2 "> 
          <Image class="bg-white  featured aspect-square  w-full  object-cover object-center " src={catsham} alt={firstProject.data.title}/>
          <!-- <img class=" bg-white shadow-box  overflow-scroll aspect-square  w-full  object-cover object-center " src={"/Website-img/" +firstProject.data.image} alt={firstProject.data.title}/> -->
        </div>
         </div>
         
     </div>
   
    </div> <!-- Ends component -->
  </article>

   
   
  </div>
</MainLayout>

<style is:global>

  .featured{
  color:white;
  background-color: #eef2ff;
 
  border-radius: 2px;
  box-shadow: 8px 8px 0 #fbbf24;
  font-size: 110%;
 
  margin-right: 4px;

  }
 
  h2{
    font-family: 'Lora Variable', serif;
    line-height:2.5rem;
   
  }
  </style>