---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from 'astro:content';
import type { CollectionEntry } from "astro:content";
import ProjectCard from "../../components/ProjectCard.astro"
import Pagination from "../../components/Pagination.astro"
import BlackBtn from "../../components/BlackBtn.astro"



import {PROJECT_PER_PAGE} from"../../constant.ts"

const currentPage: number | null = +Astro.url.searchParams.get('page')! || 1;


//get all pages
const allProjectInfo: CollectionEntry<'project'>[] = (await getCollection('project'))


//total pages in the page
const totalPages: number = Math.ceil(allProjectInfo.length / PROJECT_PER_PAGE);
console.log(totalPages)

const projectPerPage: CollectionEntry<'project'>[] = allProjectInfo.slice((currentPage - 1) * PROJECT_PER_PAGE, currentPage * PROJECT_PER_PAGE);
 console.log(projectPerPage.length)
//unique tags 
const tags: string[] = allProjectInfo.flatMap((project: any) => project.data.tags);

const uniqueTags: string[] = [...new Set(tags)];

---
<MainLayout title="Judit Szabo Projects & Snippets">
<section class="pb-8  mt-12 h-full">
    <div class="p-4  my-20">
        <h1 class="flex justify-center text-3xl md:text-5xl font-bold drop-shadow-md">
            Recent Projects
        </h1>
       
    </div>
<div class=" w-10/12 flex items-center flex-wrap p-2 justify-center mx-auto mb-6">{uniqueTags.map(tag=>(
    <a href={'/projects/tag/' + tag}>
   <button type="button">
            <span
                class=" bg-indigo-50 inline-flex text-primary py-0.5 px-3 items-center justify-between text-sm capitalize border border-1 border-slate-200 rounded-full hover:bg-black hover:text-white mb-2 mr-2">
                <i class= {"bx bxl-" +tag.toLowerCase()} ></i>
                
                    <span  class="capitalize lg:inline leading-5 ml-1">
                    {tag}</span></span>
        </button>
    
        </a> 
    
   ))}</div>
<div class="grid grid-cols-1 gap-12 md:grid-cols-2 w-10/12 my-12  place-items-center mx-auto  ">
         

        {projectPerPage.map(project=>{

            return(

<ProjectCard project={project}/>
            )
        })}
    </div>
    <Pagination 
    currentPage={currentPage} 
    totalPages={totalPages}
 disablePrevious={currentPage === 1} 
  disableNext={currentPage === totalPages}
    />
</section>

</MainLayout>


<style is:global>




